%footer

	%ul
		%li
			%a{:href => app_excuse_url, :class => "icon"}
				%span H
				Home
		%li
			%a{:href => app_search_url, :class => "icon"}
				%span S
				Search
		%li
			%a{:href => app_location_url, :class => "icon"}
				%span L
				Location	
		%li
			%a{:href => app_tag_url, :class => "icon"}
				%span T
				Tag
		%li
			%a{:href => app_user_url, :class => "icon"}
				%span A
				Account