%header
	%h1= link_to yield(:title), root_url

	- if session[:user_id]
		%ul
			%li= link_to "", new_excuse_path, :title => "Write an excuse", :class => "btn btn-write"
	- else
		%ul
			%li
				%a{ http: "http://twitter.com/ohexcuses", title: "Follow on Twitter", class: "btn btn-twitter-bird" }
					Follow
					%span