%header
	%h1= link_to yield(:title), root_url

	- if session[:user_id]
		%ul
			%li= link_to "", new_excuse_path, :title => "Write an excuse", :class => "btn btn-write"
	- else
		%ul
			%li= link_to "Sign Up", new_user_path, :title => "Create an account", :class => "btn"
			%li= link_to "Login", login_path, :title => "Login to your excuse", :class => "btn"