<div class="carousel slide" id="carousel-excuses">
	<div class="carousel-previous-button">
		<div class="carousel-previous-icon"></div>
	</div>
	<div class="carousel-inner">
		<div class="item active">
			<h2>
				My dog ate my homework.
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="16">
						<img alt="" class="btn-favorite" src="/assets/heart_black-49e2679841ddaa2e64092b68f71696c4.svg">
					</form>

				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/Original" rel="tag">Original</a></li>
						<li class="tag"><a href="/tag/School" rel="tag">School</a></li>
						<li class="tag"><a href="/tag/Detention" rel="tag">Detention</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<h2>
				Just drop the vowels.
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="17">
						<img alt="" class="btn-favorite" src="/assets/heart_black-49e2679841ddaa2e64092b68f71696c4.svg">
					</form>

				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/rbrtmlnr" rel="tag">rbrtmlnr</a></li>
						<li class="tag"><a href="/tag/Me" rel="tag">Me</a></li>
						<li class="tag"><a href="/tag/Freelancer" rel="tag">Freelancer</a></li>
						<li class="tag"><a href="/tag/Builder" rel="tag">Builder</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<h2>
				Just Google it.
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="18">
						<img alt="" class="btn-favorite true" src="/assets/heart_red.svg">
					</form>

				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/Search" rel="tag">Search</a></li>
						<li class="tag"><a href="/tag/Answers" rel="tag">Answers</a></li>
						<li class="tag"><a href="/tag/Learning" rel="tag">Learning</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<h2>
				<strong>Warning!</strong> That feature has been deprecated.
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="18">
						<img alt="" class="btn-favorite true" src="/assets/heart_red.svg">
					</form>
				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/start_form_tag" rel="tag">start_form_tag</a></li>
						<li class="tag"><a href="/tag/stuff" rel="tag">...stuff...</a></li>
						<li class="tag"><a href="/tag/end_form_tag" rel="tag">end_form_tag</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<h2>
				Yeah, I got ideas.
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="19">
						<img alt="" class="btn-favorite" src="/assets/heart_black-49e2679841ddaa2e64092b68f71696c4.svg">
					</form>

				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/Twitter" rel="tag">Twitter</a></li>
						<li class="tag"><a href="/tag/Built in Chicago" rel="tag">Built in Chicago</a></li>
						<li class="tag"><a href="/tag/gtrot" rel="tag">gtrot</a></li>
						<li class="tag"><a href="/tag/Social Media" rel="tag">Social Media</a></li>
						<li class="tag"><a href="/tag/Code Academy" rel="tag">Code Academy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<h2>
				.rb .html.erb .html.haml .css.scss .css.scss.erb .js.coffee .js.erb .rake .md
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="20">
						<img alt="" class="btn-favorite" src="/assets/heart_black-49e2679841ddaa2e64092b68f71696c4.svg">
					</form>
				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/Development" rel="tag">Development</a></li>
						<li class="tag"><a href="/tag/Backend" rel="tag">Backend</a></li>
						<li class="tag"><a href="/tag/Frontend" rel="tag">Frontend</a></li>
						<li class="tag"><a href="/tag/Programming" rel="tag">Programming</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<h2>
				Sorry, been working on <em>santa</em> this afternoon.
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="20">
						<img alt="" class="btn-favorite true" src="/assets/heart_red.svg">
					</form>
				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/milwaukee">Milwaukee</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/Typeface" rel="tag">Typeface</a></li>
						<li class="tag"><a href="/tag/Ocupop" rel="tag">Ocupop</a></li>
						<li class="tag"><a href="/tag/Work" rel="tag">Work</a></li>
						<li class="tag"><a href="/tag/Christmas Cards" rel="tag">Christmas Cards</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<div style="padding-bottom: 40px; text-align: center;">
				<object style="height: 390px; width: 640px;">
					<param name="movie" value="https://www.youtube.com/v/hUrEACMFLkM?version=3&feature=player_embedded&showinfo=0&vq=hd720&showsearch=0&rel=0&autohide=1&fs=1&feature=player_embedded">
					<param name="allowFullScreen" value="true">
					<param name="window" value="wmode">
					<param name="allowScriptAccess" value="always">
					<embed src="https://www.youtube.com/v/hUrEACMFLkM?version=3&feature=player_embedded&showinfo=0&vq=hd720&showsearch=0&rel=0&autohide=1&fs=1&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360">
				</object>
			</div>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="20">
						<img alt="" class="btn-favorite" src="/assets/heart_black-49e2679841ddaa2e64092b68f71696c4.svg">
					</form>
				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/Development" rel="tag">Development</a></li>
						<li class="tag"><a href="/tag/Backend" rel="tag">Backend</a></li>
						<li class="tag"><a href="/tag/Frontend" rel="tag">Frontend</a></li>
						<li class="tag"><a href="/tag/Programming" rel="tag">Programming</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<h2>
				Call me whatever, just not Rob.
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="20">
						<img alt="" class="btn-favorite" src="/assets/heart_black-49e2679841ddaa2e64092b68f71696c4.svg">
					</form>
				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/Work" rel="tag">Work</a></li>
						<li class="tag"><a href="/tag/Robert" rel="tag">Robert</a></li>
						<li class="tag"><a href="/tag/Work" rel="tag">Play</a></li>
						<li class="tag"><a href="/tag/Bob" rel="tag">Bob</a></li>
						<li class="tag"><a href="/tag/Bob the Builder" rel="tag">Bob the Builder</a></li>
					</ul>
				</div>
			</div>
		</div>		
		<div class="item">
			<h2>
				Maybe... Dev. Jr.?
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="20">
						<img alt="" class="btn-favorite" src="/assets/heart_black-49e2679841ddaa2e64092b68f71696c4.svg">
					</form>
				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="/tag/Now Hiring" rel="tag">Now Hiring?</a></li>
						<li class="tag"><a href="/tag/Apprenticeships" rel="tag">Apprenticeships</a></li>
						<li class="tag"><a href="/tag/Work" rel="tag">Work</a></li>
						<li class="tag"><a href="/tag/Mentoring" rel="tag">Mentoring</a></li>
						<li class="tag"><a href="/tag/Training" rel="tag">Training</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="item">
			<h2>
				Robert Milner | me@rbrtmlnr.com | @rbrtmlnr<br />
				Just drop the vowels.
			</h2>
			<div class="details">
				<div class="favorite">
					<h3>Favorite</h3>
					<form accept-charset="UTF-8" action="/favorites" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="khk8KVQxySsAg+H/ZokKUWPqFhwimUPjc7toVLknDBg="></div>
						<input id="excuse" name="excuse" type="hidden" value="20">
						<img alt="" class="btn-favorite true" src="/assets/heart_red.svg">
					</form>
				</div>
				<div class="location">
					<h3>Location</h3>
					<ul>
						<li><a href="/location/chicago">Chicago</a></li>
					</ul>
				</div>
				<div class="tags">
					<h3>Tags</h3>
					<ul>
						<li class="tag"><a href="http://twitter.com/rbrtmlnr" rel="tag">Twitter.com</a></li>
						<li class="tag"><a href="http://github.com/rbrtmlnr" rel="tag">GitHub.com</a></li>
						<li class="tag"><a href="http://forrst.com/people/rbrtmlnr" rel="tag">Forsst.com</a></li>
						<li class="tag"><a href="http://rbrtmlnr.com" rel="tag">rbrtmlnr.com</a></li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
	<div class="clearfix"></div>
	<div class="carousel-forward-button">
		<div class="carousel-forward-icon"></div>
	</div>
</div>