- provide(:title, 'Excuses')

- if @excuses.count > 0
	%ul
		- @excuses.each do |excuse|
			%li
				= excuse.text
				%span
					= form_tag favorites_path do
						= hidden_field_tag :favorite, excuse.id
						= submit_tag "Favorite"
- else
	%ul
		%li There's no excuse for no excuses! There's only an excuse for Oh, Excuses... Why don't you create one?