- provide(:title, 'Oh, Excuses')

- if notice
	= render 'layouts/notice', :notice => notice, :type => "info"

%section
	#carousel-excuses.carousel.slide

		.carousel-previous-button
			.carousel-previous-icon

		.carousel-inner
			= render 'carousel', :excuses => @excuses

		.carousel-forward-button
			.carousel-forward-icon
