- provide(:title, 'Favorite')

- if notice
	= render 'layouts/notice', :notice => notice, :type => "info"

%h2 Your favorites
- if @favorites.count > 0
	%ul
		- @favorites.each do |excuse|
			%li= excuse.text
- else
	%ul
		%li You don't have any favorite excuses!
