- provide(:title, 'Location')

- if notice
	= render 'layouts/notice', :notice => notice, :type => "info"

= render 'search_box', form_link: app_location_path, placeholder: 'Search by locations'

- if @excuses.count > 0
	%ul
		- @excuses.each do |excuse|
			%li= excuse.text
- else
	%ul
		%li Can you believe it? There are no excuses from this location... Yet. Why don't you create one?