- provide(:title, 'Location')
= render 'search_box', :url_path => 'location_path', :type => 'location', :placeholder => 'Search by locations'

%ul
- @locations.each do |location|
	%li= link_to location.name, locations_url