- provide(:title, 'Location')

- if notice
	= render 'layouts/notice', :notice => notice, :type => "info"

%section

	= render 'search_box', form_link: app_location_path, placeholder: 'Search by locations'

	= render 'carousel', :excuses => @excuses