- provide(:title, 'Search')

- if notice
	= render 'layouts/notice', :notice => notice, :type => "info"

%section

	= render 'search_box', form_link: app_search_path, placeholder: 'Search by words'

	= render 'carousel', :excuses => @excuses