- provide(:title, 'Tag')

- if notice
	= render 'layouts/notice', :notice => notice, :type => "info"

%section

	= render 'search_box', form_link: app_tag_path, placeholder: 'Search by tags'

	= render 'carousel', :excuses => @excuses