/*

Icon                		Hex Entitiy         CSS Content
======================================================================
Star-Full           		*                   content: '*';
Twitter             		0                   content: '0';
Twitter_2           		1                   content: '1';
Facebook            		2                   content: '2';
Facebook_2          		3                   content: '3';
Support             		?                   content: '?';
User                		A                   content: 'A';
Comment             		C                   content: 'C';
Cancel              		D                   content: 'D';
Gear                		E                   content: 'E';
Heart-Full          		F                   content: 'F';
Home                		H                   content: 'H';
Info                		I                   content: 'I';
Checkmark           		K                   content: 'K';
Busy                		L                   content: 'L';
Mail                		M                   content: 'M';
Pencil              		N                   content: 'N';
Synchronize         		R                   content: 'R';
Search              		S                   content: 'S';
Trashcan            		T                   content: 'T';
Eye                 		V                   content: 'V';

*/

@font-face {
    font-family: "IcoMoonRegular";
    src: url('/assets/icon_font-webfont.eot');
    src: url('/assets/icon_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/icon_font-webfont.woff') format('woff'),
         url('/assets/icon_font-webfont.ttf') format('truetype'),
         url('/assets/icon_font-webfont.svg#IcoMoonRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}