@import 'variables';
@import 'mixins';


footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	font-size: 12px;
	background: #000;
	border-top: 2px solid $black;
	ul {
		min-width: 320px;
		max-width: 600px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		li {
			width: percentage(1/5);
			height: auto;
			float: left;
			text-align: center;
			background-color: #222;
			a {
				color: #fff;
				display: block;
				text-align: center;
				@include text_shadow(0, 3px, 0, $black);
				img {
					width: 40%;
					height: auto;
					padding: 5px;
				}
			}
			span.nav_label {
				display: none;
			}
		}
	}
}