button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.space, .search {
	min-width: 300px;
	max-width: 620px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 86px;
	padding-bottom: 40px;
	.form-search {
		padding-left: 5%;
		padding-right: 5%;
		.search-query {

			width: 100%;

			margin-bottom: 0;
			-webkit-border-radius: 14px;
			-moz-border-radius: 14px;
			border-radius: 14px;
		}
	}
}
.space {
	padding-bottom: 0;
}