/*
 *
 * * * * * * * * * * * * * * * * * * *
 * START OF GLOBAL
 * * * * * * * * * * * * * * * * * * *
 *
 * # assets/stylesheets/global/global.css.scss
 * # views/layouts/pages.html.haml
 * <body>
 *
 */

/* imports */
@import 'variables';
@import 'mixins';

html, body {
	font: 16px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
}

body {
	background: url('/assets/furley_bg.png');
}
a {
	color: $black;
	text-decoration: none;
}
.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
	&:hover {
		color: #000000;
		text-decoration: none;
		opacity: 0.4;
		filter: alpha(opacity=40);
		cursor: pointer;
	}
}
.clearfix {
	clear: both;
}