/*
 *
 * * * * * * * * * * * * * * * * * * *
 * START OF HEADER
 * * * * * * * * * * * * * * * * * * *
 *
 * # assets/stylesheets/header.css.scss
 * # views/layouts/_header.html.haml
 * <header>
 *
 */

@import 'variables';
@import 'mixins';

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 2px solid $red_shade;
	z-index: 1000;
	background-color: $red;
	@include box_shadow_inset(0px, 0px, 0px, 0px, rgba(0, 0, 0, 0.1));
	a {
		color: #fff;
	}
	h1 {
		font: bold 24px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		padding: 6px 0;
		letter-spacing: -2px;
		@include text_shadow(0, 3px, 0, $red_shade);
	}
	ul {
		position: absolute;
		top: 0;
		right: 0;
		margin: 5px 2%;
		li {
			float: left;
			a.btn {
				font-size: 13px;
				height: 26px;
				display: block;
				margin-left: 10px;
				padding: 4px 8px;
				background-color: $red_shade;
				@include border_radius(10px);
				&:hover {
					@include box_shadow_inset(0, 0, 2px, 1px, rgba(0, 0, 0, 0.2));
				}
			}
			a.btn-write {
				height: 24px;
				width: 24px;
				display: block;
				padding: 6px;
				background-color: $red_shade;
				@include border_radius(10px);
				background-image: url('/assets/write.png');
				background-image: none, url('/assets/write.svg'), url('/assets/write.png');
				background-size: 26px;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
}