/*
 *
 * * * * * * * * * * * * * * * * * * *
 * START OF HEADER
 * * * * * * * * * * * * * * * * * * *
 *
 * # assets/stylesheets/header.css.scss
 * # views/layouts/_header.html.haml
 * <header>
 *
 */

@import 'variables';
@import 'mixins';

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 2px solid $red_shade;
	z-index: 1000;
	background-color: $red;
	@include box_shadow_inset(0px, 0px, 0px, 0px, rgba(0, 0, 0, 0.1));
	a {
		color: #fff;
	}
	h1 {
		font: bold 24px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		padding: 5px 0;
		letter-spacing: -2px;
		@include text_shadow(0, 3px, 0, $red_shade);
	}
	ul {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		li {
			float: left;
			a {
				img {
					height: auto;
					width: 40%;
				}
			}
		}
	}
}

.btn-create {
	background-color: $red_shade;
}